MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=MonSuperMotDePasse123
MONGO_INITDB_DATABASE=blog_db
MONGO_AUTH_DATABASE=admin
MONGO_HOST=db_mongo
MYSQL_ROOT_PASSWORD=MonMotDePasseSQL123
MYSQL_DATABASE=blog_db
MYSQL_USER=root
MYSQL_HOST=db_mysql
MONGO_USER=admin_local
MONGO_PASSWORD=ChangeMeNow123
